*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0% 10% 0% 10%;
}

/* Ajustando o Header */
header {
    background-image: linear-gradient(to bottom, #00a79d, #016185);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    border-radius: 0 0 30px 30px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Ajustando o container do menu */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

/* Ajuste da Logo */
.Logo {
    max-width: 100%;
    height: auto;
    width: 120px; /* Define um tamanho inicial */
}

@media (max-width: 768px) {
    .Logo {
        width: 80px; /* Reduz o tamanho da logo em telas menores */
    }
}

/* Ajuste do menu para evitar corte */
.navbar .nav-link,
.dropdown .btn-secondary {
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    white-space: nowrap; /* Evita quebra de linha desnecessária */
}
#navbarNav{
    display: grid;
    grid-auto-flow: column;
    columns: center;
    gap: 2%;
    
}
#dropdownMenuLink{
    text-decoration: none;
    background-color: transparent;
    border: none;
}

/* Ajuste da barra de navegação para telas menores */
@media (max-width: 992px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-link,
    .dropdown .btn-secondary {
        font-size: 0.9rem;
        padding: 8px;
    }
}

/* Ajustando o dropdown */
.dropdown-menu {
    font-size: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
    padding: 10px;
    text-align: left;
}

/* Garantindo que o menu colapsado funcione corretamente em telas pequenas */
@media (max-width: 768px) {
    .navbar-collapse {
        text-align: center;
    }
}

.dropdown-item:hover {
    background-color: #555; /* Cor ao passar o mouse */
    color: #00a79d; /* Cor do texto ao passar o mouse */
}
h1, h2 {
    font-family: "Quicksand", serif;
    font-size: 2.5rem; /* 2.5 vezes o tamanho base definido em <html> */
    text-align: center;
    font-optical-sizing: auto;
    color: #4a4a4a;
    font-weight: bold;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 1.2rem; /* 1.2 do tamanho definido no <html> */
    line-height: 1.6;
    text-align: justify;
    font-family: "Montserrat";
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
/* Alinhar itens em dispositivos menores */
@media (max-width: 768px) {
    body {
      font-size: 2vw; /* Fontes maiores em telas pequenas */
    }
  }
  
  @media (min-width: 1024px) {
    body {
      font-size: 1vw; /* Fontes menores em telas grandes */
    }
}

#Corpo0{
    display: grid;
    grid-auto-flow: column;
    columns: center;
    grid-template-columns: 60% 40%;
    padding-top: 15%;
    margin: 0% 10% 0% 10%;
}
.Corpo0D{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.Corpo0E{
    padding-top: 10%;
}
.btnAgSUS {
    width: calc(400px + 5vw);
    height: auto;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem; /* 2.5 vezes o tamanho base definido em <html> */
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    border: 1px solid #fff;
    background-image: linear-gradient(180deg, #016185 30%, #71d285 70%);
    color: #fff;
    text-shadow: 4px 4px 5px #4a4a4a;
    border-radius: 25px;
    margin: 1% 0% 0% 0%;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
    transform: translateY(-3px) !important;
    
}

.btnAgSUS:hover, .btnAgSUS:focus {
    color: #fff !important;
    background-color: #016185 !important;
    border-color:#00a79d !important;
    box-shadow: 0 0 35px #b0d11d; /* Efeito brilhante */
    transform: translateY(-3px) !important; /* Levanta o bot o */
}
.botaoAgSUS{
    padding: 5% 10% 0% 10%;
}
/* DIRETORIA */
.TituloC3{
    padding: 5% 10% 0% 10%;
}
#DiretoriaC3{
    display: grid;
    grid-auto-flow: column;
    columns: center;
    column-gap: 5%;
    margin:2% 20% 0% 20%;
}
.DiretoriaImg{
    width: calc(1000px + 5vw);
    height: auto;
    padding-bottom: 3%;
}
.Andre, .Luciana, .Willames{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5%;
}
.TextoAndre, .TextoLuciana, .TextoWillames{
    text-align: center;
    padding-top: 5%;
}
.TextoLuciana{
    padding-top: 20%;
}
.botaoAgSUS{
    text-align: center;
}

/*MOCKUP 1*/
#Corpo1{
    margin: 2% 10% 0% 10%;

}
.TituloC1{
    margin-top: 3%;
}
.TextoC1{
    margin-top: 2%;
    font-family: "Open Sans";
    font-weight: lighter;
    color: #00a79d;
    font-style: italic;
 }

#div2C1{
    display: grid;
    grid-auto-flow: column;
    columns: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
    overflow: visible; /* Permite que o conteúdo ultrapasse as bordas */
    position: relative; /* Define referência para o posicionamento absoluto */
    grid-template-columns: 50% 50%;
}

.Logo1{
    width: calc(500px + 5vw); /*A largura da imagem será o resultado de uma soma entre 800px (tamanho fixo base) e 5% da largura da viewport (5vw).*/
    height: auto;
    overflow: visible;
}
.TextoNucleo{
    margin: auto;
    max-width: 1200px; /* Largura máxima */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Logo2{
    width: calc(500px + 5vw); /*A largura da imagem será o resultado de uma soma entre 800px (tamanho fixo base) e 5% da largura da viewport (5vw).*/
    height: auto;
    overflow: visible;
    margin-left: 10%;
}

#chatButton {  
    width: 7%;
    height: 7%;
    background-image: linear-gradient(to bottom, #00a79d, #4a4a4a);
    color: #fff;
    border: none;  
    border-radius: 20PX 0PX 20px 0px;  
    cursor: pointer;  
    position: fixed;  
    bottom: 100px;  
    right: 0;  
    transition: opacity 0.3s ease;
    font-weight: bold;  
}  

#sustoImage {  
    position: fixed;  
    bottom: 100px;  
    right: 0;  
    width: 100PX;  
    height: 100PX;  
    display: none;  
    cursor: pointer;  
    transition: opacity 0.3s ease, transform 0.3s ease;  
    transform: scale(1);  
}

.dialogBubble {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    max-height: 250px;
    position: fixed;
    bottom: 150px;
    right: 50px;
    background-color: #52b297;
    color: #fff;
    border: 10px solid #fff;
    border-radius: 30px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    margin-right: 2%;
    margin-bottom: 2%;
    text-align: center;
    gap: 3%;
    font-size: 0.8rem;
}

/* Criando a ponta do balão */
.dialogBubble::before {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 35px 0 35px;
    border-color: #52b297 transparent transparent transparent;
}

.dialogBubble button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dialogBubble button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.divbtn {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    align-items: center;
    text-align: center;
    gap: 2%;
}
.hidden {  
    display: none;  
}
.TextoSUSito{
    font-size: 0.8rem;
    text-align: center;
}

#Corpo2{
    margin: 2% 10%
}
#Div2C2{
    display: grid;
    grid-auto-flow: column;
    columns: center;
    gap: 2%;
    grid-template-columns: 10% 30% auto;
    margin:2% 10% 0% 10%;
    position: relative; /* Define referência para o posicionamento absoluto */
}

.TituloC2{
    color:  #00a79d;
    margin-top: 2%;
}

.Textocorpo2{
    max-width: 1200px; /* Largura máxima */
    margin-left: 20%;
    margin-right: auto;
}

.ImagemC2{
    width: calc(800px + 5vw);
    height: auto;
    margin-left: 35%;
}

.Barralateral{
    height: auto;
    width: calc(300px + 5vw);
    margin-left: 85%;
}

.custom-btn {
    width: calc(400px + 5vw);
    height: auto;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem; /* 2.5 vezes o tamanho base definido em <html> */
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    border: 1px solid #fff;
    background-image: linear-gradient(180deg, #016185 30%, #71d285 70%);
    color: #fff;
    text-shadow: 4px 4px 5px #4a4a4a;
    border-radius: 25px;
    margin: 1% 0% 0% 0%;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
}

.custom-btn:hover{
    color: #fff !important;
    background-color: #016185 !important;
    border-color:#00a79d !important;
    box-shadow: 0 0 35px #b0d11d; /* Efeito brilhante */
    transform: translateY(-3px); /* Levanta o botão */
}
.btn-outline-primary:active {
    transform: translateY(2px); /* Abaixa o botão ao clicar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Reduz a sombra */
}



/*CARROSSEL*/

.TituloCarrossel{
    padding-top: 5%;
} 

/* Estilo principal do carrossel */
#CarrosselEquipe {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-images {
    display: flex;
    transition: transform 0.7s ease-in-out;
}

.carousel-images img {
    width: 100%;
    flex-shrink: 0;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    background-color: transparent;
}

.carousel-controls button {
    background-color: #71d285(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 50px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.carousel-controls button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Indicadores (dots) */
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    transform: translateX(-20%);
}

.carousel-indicators .dot {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-indicators .dot.active {
    background-color: white;
}


/* Bloco Chatbot modela para refinamento 16/01/2025*/
/* Bloco chatbot versáo com ação de mouse ao posicionar nobre o susito e fexar o balçao caso nçao tenha ação sobre ele após 3 segundo */

#chatbot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 3%;
    height: 10%;
    cursor: pointer;
}
#chat-window {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 58px;
    width: 300px;
    margin-bottom: 50px;
    margin-right:5Spx;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/*Nova linha 20-201-2025 ação de posiçáo de mouse..*/
.tooltip {  
    display: none; /* Oculta o balão inicialmente */  
    visibility: hidden; /*Deixar invisivel */
    position: absolute;  
    bottom: 70px; /* Distância do robô */  
    right: 0; /* Alinhado à direita */  
    background-color: white; /* Fundo do balão */  
    border: 1px solid #ccc; /* Borda do balão */  
    padding: 10px; /* Espaçamento interno */  
}  

#chat-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#chat-body {
    padding: 10px;
}
#options {
    margin-top: 0px;
}
.option-button {
    display: block;
    margin: 5px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

/*Novas linhas 20-201-2025 ação de posiçáo de mouse..*/
/*Fim do bloco versáo 1.2 chatbot  Jeremias 20-01-2025*/

/*FOOTER*/

/*CORPO 5 - O Serviço pelo Brasil*/
.TituloC5{
    margin-top: 3%;
    color: #070606;
}
#Corpo5{
    display: grid;
    grid-auto-flow: column;
    columns: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 70% 30%;
    margin:2% 10% 2% 0%;
    gap: 1%;
    overflow: visible; /* Permite que o conteúdo ultrapasse as bordas */
    position: relative; /* Define referência para o posicionamento absoluto */
}
.MapadoBrasil{
    position: relative;
    width: calc(1500px + 5vw);
    height: auto;
    border: 0px solid #ccc;
}
  
#TextoC5{
    margin: 15% 0% 0% 40%;
}


/*CORPO 6 - Fluxo de atendimento*/
.TituloC6{
    padding-top: 50px;
    padding-left: 50px;
    color: #070606;
    margin-top: 7%;
    text-align: center;
}
#FluxoAtendimento{
    text-align: center;
}
.ImagemFluxo{
    text-align: center;
    width: calc(1500px + 5vw);
    height: auto;
}

/*CORPO 7 - Sou Gestor*/
#Corpo7{
    display: grid;
    grid-auto-flow: column;
    columns: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: auto;
    gap: 5%;
    margin:1% 10% 0% 10%;
}
.TituloC7{
    margin-top: 3%;
    text-shadow: 2px 2px 0px black, -2px -2px 0px white;
}
.Corpo7E{
    margin: 3% 0% 0% 10%;
}
.Corpo7D{
    margin: 15% 0% 0% 10%;
}
.ImgCorpo7{
    width: calc(110% + 5vw);  
    height: auto;  
    border: 0px solid #8b0d0d;  
    margin: 2% 0% 0% 10%;  
    transition: transform 0.2s; /* Animação ao passar o mouse */ 
}
.textoExplicativoCorpo7 {  
    margin-top: 1px; /* Margem superior para o texto */  
    position: relative; /* Define o tipo de posicionamento */  
    top: -6px; /* Ajuste a posição vertical do texto */  
    left: 10%; /* Ajuste a posição horizontal do texto */  
    text-align: right; /* Alinhamento do texto à esquerda */  
    background-color: #f0f0f0; /* Cor de fundo da div */  
    border: 2px solid #fbfdfdf3; /* Borda semi-transparente */  
    border-radius: 20px 20px 10px 30px;  
    opacity: 0; /* Opacidade inicial como 0 */  
    transition: opacity 0.8s; /* Transição suave para a opacidade */  
    display: none; /* Inicia como oculto */  
    color: #130202; /* Cor do texto */  
    font-size: 1rem; /* Tamanho da fonte */  
    font-family: 'Arial', sans-serif; /* Tipo de fonte */ 
    text-align: center;
    padding: 5%;
}
.ImgCorpo7:hover + .textoExplicativoCorpo7 {  
    display: block; /* Exibe o texto quando a imagem é hover */  
}  
.TituloC7flip{
    font-size: 1.5rem;
    text-align: center;
}
.flip-container {
    perspective: 1000px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 13%;
}

.flipper {
    color: #016185;
    position: relative;
    width: 100%;
    max-width: 500px;
    height: auto;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    padding: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flip-container:hover .flipper {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 150%;
    max-width: 1000px;
    min-width: 300px;
    height: auto;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    color: #fff;
    background-image: linear-gradient(to bottom, #016185, #71d285);
    border-radius: 0px;
    padding: 2%;
    box-shadow: 0 0 15px #4a4a4a;
    margin: 2% 5% 2% 15%;
}

.front {
    background-color: #016185;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back {
    background-color: #016185;
    transform: rotateY(180deg);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TextoC7flip {
    font-size: 1rem;
    max-width: 90%;
    overflow-wrap: break-word;
    text-align: justify;
}


/*CORPO 8 - SOU USUÁRIO*/
.TituloC8{
    margin-top: 3%;
    text-shadow: 2px 2px 0px black, -2px -2px 0px white;
}
.TituloC8E{
    font-size: 2rem; /* 2.5 vezes o tamanho base definido em <html> */
}
.TituloC8D{
    margin-right: 40%;
    margin-left: 20%;
    font-size: 2.5rem; /* 2.5 vezes o tamanho base definido em <html> */
    text-align: center;
}
ul {
    list-style-type: none; /* Remove os marcadores da lista */
    padding-bottom: 0px;
    margin: 0;
}
ul li {
    margin-bottom: 10px; /* Espaçamento entre as imagens */
  }
ul li img {
    display: block; /* Garante que a imagem ocupe uma linha inteira */
    max-width: 100%; /* Faz com que as imagens sejam responsivas */
    height: auto;
}
#Corpo8{
    display: grid;
    grid-auto-flow: column;
    columns: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
    margin:1% 5% 0% 10%;
}

.Corpo8E{
    margin: 20% 2% 0% 15%;
}
.Corpo8D{
    margin-top: 2%;
}
.BotaoClicavel {
    cursor: pointer;
    width: calc(1000PX + 5vw);
    height: auto;
    border: 0px solid #ccc;
    transition: transform 0.2s; /* Animação ao passar o mouse */
}
.BotaoClicavel:hover {
    transform: scale(1.1); /* Aumenta levemente ao passar o mouse */
}
#text-box{
    display: none; 
    margin-top: 20px;
}
.textoExplicativo {  /* Vou fragimentar esse trecho de CSS 31/01/2023*/
    width: calc(87% + 5vw); /* Mesma largura que as imagens */  
    margin-top: 1px; /* Margem superior para o texto */  
    position: justify; /* Permite ajustar a posição do texto */  
    top: -10; /* Ajuste a posição vertical do texto (use valores positivos ou negativos) */  
    left: 0; /* Ajuste a posição horizontal do texto (use valores positivos ou negativos) */  
    text-align: left; /* Centraliza o texto */  
    background-color: #f0f0f0; /* Cor de fundo (ajuste conforme necessário) */  
    border: 2px solid #fbfdfdf3; /* Borda semi-transparente */  
    border-radius: 20px; /* Borda arredondada */  
    padding: 35px; /* Preenchimento interno */   
    opacity: 0; /* Opacidade inicial como 0 */  
    transition: opacity 0.8s; /* Transição suave para a opacidade */  
    display: none; /* Inicia como oculto */  
    color: #070606; /* Cor do texto */  
    font-size: 1rem; /* Tamanho da fonte (ajuste conforme desejado) */  
    font-family: 'Arial', sans-serif; /* Tipo de fonte (ajuste conforme desejado) */  
}


 /* CORPO 9 - Sou Profissional*/
 .TituloC9{
    margin-top: 3%;
    text-shadow: 2px 2px 0px black, -2px -2px 0px white;
 }
 .TituloC9D{
    margin-left: 10%;
 }
 .ImgSouProfissional{
    text-align: center;
    width: calc(25% + 5vw);
    height: auto;
    margin-left: 40%;
    margin-top: 3%;   
 }
 #Corpo9{
    display: grid;
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr); /* Garante responsividade */
    columns: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%; /* Aplica espaçamento corretamente */
    margin: 1% 5% 0% 10%;
 }
 #Corpo9E{
    margin: 2% 1% 0% 10%;
    border: none;
    width: 100%; /* Faz com que a largura se ajuste ao grid */
    height: auto;
}
.PerProfissional{
    border: none !important;
    cursor: pointer;
    width: 80%; /* Para garantir que se ajustem ao espaço disponível */
    height: auto;
    transition: transform 0.2s; /* Animação ao passar o mouse */    
}
.PerProfissional :hover{
    transform: scale(1.1); /* Aumenta levemente ao passar o mouse */
}
.textoExplicativoCorpo8 {  
    width: calc(87% + 5vw); /* Largura da div de texto explicativo */  
    margin-top: 5px; /* Pequeno espaço entre a imagem e o texto */  
    text-align: left; /* Alinha o texto à esquerda */  
    background-color: #f0f0f0; /* Cor de fundo */  
    border: 2px solid #fbfdfdf3; /* Borda semi-transparente */  
    border-radius: 5px; /* Borda arredondada */  
    padding: 10px; /* Preenchimento interno */   
    opacity: 0; /* Opacidade inicial como 0 */  
    transition: opacity 0.8s; /* Transição suave para a opacidade */  
    display: none; /* Inicia como oculto */  
    color: #070606; /* Cor do texto */  
    font-size: 1rem; /* Tamanho da fonte */  
    font-family: 'Arial', sans-serif; /* Tipo de fonte */  
}
 #Corpo9D{
    display:flex ;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    margin: 5% 8% 0% 10%;
    width: 100%;
    box-sizing: border-box;  
}

.Conselhos1, .Conselhos2 {
    display: grid;
    grid-auto-flow: column;
    columns: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%; /* Adicionado espaço entre os itens */
}
button{
    border: none;
    background-color: transparent;
}

.ImgConselhos{
    cursor: pointer;
    width: 100%; /* Ajusta ao tamanho do botão */
    max-width: 300px; /* Limita crescimento excessivo */
    height: auto;
    border: none;
    transition: transform 0.2s; /* Animação ao passar o mouse */
    padding: 5%;
    border-radius: 20%;
    box-shadow: 0 0 5px #00a79d; /* Efeito brilhante */
}

.Corpo9D2{
    padding-top: 10%;
}
.Legislacoes{
  margin: 1% 10% 0% 15%;
  display: grid;
  grid-auto-flow: column;
  columns: center;
  gap: 5%;
}
.TituloLegislacoes{
    margin-top: 5%;
}
.ImgBrasao{
    width: 100%; /* Ajusta ao tamanho do botão */
    max-width: 200px; /* Limita crescimento excessivo */
    height: auto;
    border: none;
    transition: transform 0.2s; /* Animação ao passar o mouse */
    padding: 5%;
    border-radius: 20%;
    box-shadow: 0 0 5px #00a79d; /* Efeito brilhante */
}
.NomeLegislacao{
    padding-top: 2%;
    text-align: center;
    font-weight: bold;
}
.Legislacoes div {
    position: relative;
    display: inline-block;
}

.Legislacoes div:hover::after {
    content: attr(data-info); /* Pega o texto do atributo data-info */
    position: absolute;
    left: 50%;
    bottom: 120%;
    transform: translateX(-50%);
    background: #4a4a4a;
    color: white;
    padding: 10px;
    border-radius: 8px;
    white-space: nowrap;
    font-size: 1.5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    border: #fff solid 3px;
}

.Legislacoes div:hover::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 110%;
    transform: translateX(-50%);
    border: 8px solid transparent;
    border-top-color: #4a4a4a;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.Legislacoes div:hover::after,
.Legislacoes div:hover::before {
    opacity: 1;
    visibility: visible;
}
/*CORPO 10*/
#Video{
    margin: 0% 0% 0% 2%;
    padding-bottom: 3%;
}
#Corpo10A{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 25% 0% 25%;
    gap: 3%;
}
.TituloCorpo10A{
    padding-top: 5%;
}
.TituloCorpo10B{
    line-height: 2.0; /* Espaçamento 1.5 vezes a altura da fonte */  
}
#Corpo10B{
    display: grid;
    grid-auto-flow: column;
    columns: center;
    gap: 5%;
    margin: 1% 10% 0% 15%;
}
#DepoimentoEnf, #DepoimentoMed{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.ImagemGraca, .ImagemArtur{
    width: calc(400px + 5vw);
    height: AUTO;
    text-align: center;
    margin-left: 10%;
}
.TituloGraca, .TituloArtur{
    text-align: center;
    color: #016185;
    font-size: 150%;
    line-height: 1.5; /* Espaçamento 1.5 vezes a altura da fonte */
}
.TextoGraca, .TextoArtur{
    font-style: italic;
}

/*CORPO 11 - RESULTADOS PILOTO*/
.TituloCorpo11{
    margin-top: 3%;
    margin-bottom: 1%;
}
#Corpo11{
    display: grid;
    grid-auto-flow: column;
    columns: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 4%;
    margin: 1% 10% 0% 15%;
}
.Corpo11D{
    display: grid;
    grid-auto-flow: column;
    columns: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
}
.Corpo11E{
    display: flex; /* Organiza os parágrafos em uma coluna */
    flex-direction: column; /* Cada parágrafo será uma linha separada */
    gap: 16px; /* Espaçamento vertical entre os parágrafos */
}
.PCorpo11E{
    display: flex; 
    align-items: center; 
    gap: 8px; 
    font-size: 1.2rem; 
    margin: 0; 
}
.Corpo11E i {
    margin-right: 8px; 
    color: #0dd4ac; 
}
.custom-btn11{
    width: calc(200px + 5vw);
    height: AUTO;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem; /* 1.5 vezes o tamanho base definido em <html> */
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    border: 1px solid #fff;
    background-image: linear-gradient(180deg, #016185 30%, #71d285 70%);
    color: #fff;
    text-shadow: 4px 4px 5px #4a4a4a;
    border-radius: 25px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
}

.custom-btn11:hover{
    color: #fff !important;
    background-color: #016185 !important;
    border-color:#00a79d !important;
    box-shadow: 0 0 35px #b0d11d; /* Efeito brilhante */
    transform: translateY(-3px); /* Levanta o botão */
}
.btn-outline-primary:active {
    transform: translateY(2px); /* Abaixa o botão ao clicar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Reduz a sombra */

}
.PCorpo11D{
    text-align: center;
}

/*CORPO 12 - COMUNIDADE DE PRÁICAS*/
#Corpo12{
    display: flex;
    flex-direction: column;
    gap: 10%;
    align-items: center;
    text-align: center;
    margin-top: 3%;
}
.TituloCorpo12{
    font-style: bold;
    color: #00a79d;
}
.ImgCorpo12{
    margin-top: 6%;
    margin-bottom: 5%;
}

/*CORPO 13 - VEM POR AÍ*/
#Corpo13{
    display: grid;
    grid-auto-flow: column;
    columns: center;
    margin: 4% 10% 0% 15%;
    gap: 3%;
}
.TituloCorpo13E{
    font-weight: bold;
    color: #52b297;
}
#Corpo13D{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
}

/*CORPO 14 - NOTÍCIAS*/
#Corpo14{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 60% 40%;
    margin: 0% 10% 0% 15%;
}
.Corpo14E{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3%;
}

.ImgCorpo14{
    width: calc(700px + 5vw);
    height: auto;
    padding: 2%;
}
.TituloCorpo14{
    font-weight: bold;
    color: #52b297;
    text-align: center;
    margin-left: 20%;
    padding-top: 3%;
}


/*CORPO 15 -BIBLIOTECA*/
.ImgTituloCorpo15{
    width: calc(500px + 5vw);   
}
#Corpo15{
    display: grid;
    grid-auto-flow: column;
    columns: center;
    margin: 4% 10% 0% 15%;
    gap: 3%;
}
.TextoCorpo15{
    margin-top: 4%;
}
.ImgBiblioteca{
    width: calc(500px + 5vw);
    height: auto;
}
.Corpo15D{
    padding-top: 15%;
}
.Corpo15E{
    margin-right: 5%;
}
.Corpo15D ul li{
    margin-top: 20%;
}
.btnbiblioteca {
    width: calc(500px + 5vw);
    height: 200px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem; /* 2.5 vezes o tamanho base definido em <html> */
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    border: 1px solid #fff;
    background-image: linear-gradient(180deg, #016185 30%, #71d285 70%);
    color: #fff;
    text-shadow: 4px 4px 5px #4a4a4a;
    border-radius: 25px 0px;
    margin: 1% 0% 0% 0%;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
}

.btnbiblioteca:hover{
    color: #fff !important;
    background-color: #016185 !important;
    border-color:#00a79d !important;
    box-shadow: 0 0 35px #b0d11d; /* Efeito brilhante */
    transform: translateY(-3px); /* Levanta o botão */
}

/*CORPO 16 - FINAL*/
#Corpo16{
    display: grid;
    grid-auto-flow: column;
    columns: center;
    margin: 4% 10% 0% 15%;
}
.TituloCorpo16{
    font-weight: bold;
    color: #00a79d;
    text-align: center;
}
.fa-solid{
    color: #00a79d;
    size: 50%;
}


/*RODAPE*/
footer{
    margin-top: 7%;
    text-align: center;
}

.Texto1Rodape, .Texto2Rodape{
    font-size: 0.7rem;
    text-align: center;
}
.ImgInstituicoes, .ImgRodape{
    text-align: center;
    max-width: 70%;
}
